In [1]:
import os
os.getcwd()

'C:\\Users\\gupta\\dev\\titanicapi3\\src'

In [2]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
tm = df.groupby('Survived').mean()
tm
v1 = tm.iloc[0,:]
v2 = tm.iloc[1,:]
abs((v2 - v1)/(v1 + v2))

PassengerId    0.002971
Pclass         0.129755
Age            0.038706
SibSp          0.077914
Parch          0.170176
Fare           0.372661
dtype: float64

In [5]:
print(df["Name"].head())

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [6]:
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'

In [7]:
get_title('Heikkinen, Miss. Laina')

'Miss'

In [8]:
def title_map(title):
    if title in ['Mr']:
        return 1 
    elif title in ['Master']:
        return 3
    elif title in ['Miss','Mlle','Ms']:
        return 4
    elif title in ['Mme','Mrs']:
        return 5
    else:
        return 2

In [9]:
title_map('Miss')

4

In [10]:
df['title'] = df['Name'].apply(get_title).apply(title_map)
df = df.drop(['PassengerId','Name','Ticket'], axis = "columns" )

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
title       891 non-null int64
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [34]:
def pre_processing(df):
    def get_title(name):
        if '.' in name:
            return name.split(',')[1].split('.')[0].strip()
        else:
            return 'Unknown'
    
    def title_map(title):
        if title in ['Mr']:
            return 1 
        elif title in ['Master']:
            return 3
        elif title in ['Miss','Mlle','Ms']:
            return 4
        elif title in ['Mme','Mrs']:
            return 5
        else:
            return 2 
    df['title'] = df['Name'].apply(get_title).apply(title_map)
    df = df.drop(['PassengerId','Name','Ticket'], axis = "columns" )
    df["Sex"] = df["Sex"].replace(["male","female"],[0,1])
    df["Cabin"] = df["Cabin"].isna()
    df = pd.get_dummies(df)
    df["Age"][df["Age"].isna()] = df["Age"].mean()
    mf = df['Fare'].mean()
    df['Fare'] = df['Fare']>mf
    df['Fare'] = df['Fare'].astype(int)
    return df

In [35]:
def training():
    df = pd.read_csv('titanic.csv')
    df = pre_processing(df)
    y = df['Survived']
    df.drop('Survived', axis = 'columns', inplace = True)
    X =df
    
    model = XGBClassifier(max_depth = 2, min_child_weight=3, gamma=0, 
                         subsample=0.86, reg_alpha=0, n_estimators=125)
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state =11)
    # model.fit(X_train, y_train)
    model.fit(X,y)
    print(model.score(X, y))
    yp = model.predict(X_test)
    print("Sur", sum(yp != 0))
    print("Not Sur", sum(yp==0))
    cm = confusion_matrix(y_test, yp)
    print(cm)

In [32]:
def predict():
    pass

In [13]:
# !python -m pip install xgboost

In [14]:
df["Sex"] = df["Sex"].replace(["male","female"],[0,1])
df["Cabin"] = df["Cabin"].isna()
df = pd.get_dummies(df)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Sex           891 non-null int64
Age           714 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Cabin         891 non-null bool
title         891 non-null int64
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: bool(1), float64(2), int64(6), uint8(3)
memory usage: 59.2 KB

In [16]:
tm = df.groupby("Survived").mean()
tm
v1 = tm.iloc[0,:]
v2 = tm.iloc[1,:]
abs((v2 - v1)/(v1 + v2))

Pclass        0.129755
Sex           0.643977
Age           0.038706
SibSp         0.077914
Parch         0.170176
Fare          0.372661
Cabin         0.185190
title         0.374197
Embarked_C    0.331221
Embarked_Q    0.012168
Embarked_S    0.101449
dtype: float64

In [17]:
import sys
print(sys.base_prefix)

C:\Users\gupta\Anaconda3

In [18]:
# !{sys.executable} -m pip install xgboost

In [19]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.model_selection import train_test_split

In [21]:
df["Age"][df["Age"].isna()] = df["Age"].mean()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Sex           891 non-null int64
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Cabin         891 non-null bool
title         891 non-null int64
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: bool(1), float64(2), int64(6), uint8(3)
memory usage: 59.2 KB

C:\Users\gupta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
mf = df['Fare'].mean()
df['Fare'] = df['Fare']>mf
df['Fare'] = df['Fare'].astype(int)

y = df['Survived']
df.drop('Survived', axis = "columns", inplace = True)
X = df

#### Build the model

In [25]:
model = XGBClassifier()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state =11)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [27]:
print(model.score(X_test, y_test))

0.8994413407821229

In [29]:
from sklearn.metrics import confusion_matrix
yp = model.predict(X_test)
print("Sur", sum(yp != 0))
print("Not Sur", sum(yp==0))
cm = confusion_matrix(y_test, yp)
cm

Sur 55
Not Sur 124

array([[112,   6],
       [ 12,  49]], dtype=int64)